<div class='mt-4'>
  <h3>Sửa hp</h3>
  <form method='POST' action='/hopphan/{{hp._id}}?_method=PUT'>
    <div class='mb-3'>
      <label for='name' class='form-label'>Tên hp</label>
      <input type='text' class='form-control' id='name' name='name' value='{{hp.name}}' required />
    </div>
    <div class='mb-3'>
      <label class='form-label fw-bold'>Nội dung:</label>
      <textarea
        class='form-control'
        name='content'
      >{{{hp.content}}}</textarea>
    </div>

    <div class='mb-3'>
      <label class='form-label fw-bold'>Ngày bắt đầu:
        <small class="text-muted">
          {{#if hp.timeline.startDate}}{{formatDate hp.timeline.startDate "DD/MM/YYYY"}}{{else}}Chưa đặt ngày{{/if}}
        </small>
      </label>

      <input
        type='date'
        class='form-control'
        name='startDate'
        value='{{#if hp.timeline.startDate}}{{formatDate hp.timeline.startDate "YYYY-MM-DD"}}{{/if}}'
      />
      
      <label class='form-label fw-bold'>Ngày kết thúc:
        <small class="text-muted">
          {{#if hp.timeline.endDate}}{{formatDate hp.timeline.endDate "DD/MM/YYYY"}}{{else}}Chưa đặt ngày{{/if}}
        </small>
      </label>
      
      <input
        type='date'
        class='form-control'
        name='endDate'
        value='{{#if hp.timeline.endDate}}{{formatDate hp.timeline.endDate "YYYY-MM-DD"}}{{/if}}'
      />
      
    </div>


    <button type='submit' class='btn btn-success'>Cập nhật</button>
  </form>
</div>
