<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên</th>
      <th scope="col">Nội dung</th>

      <th scope="col">Thời gian tạo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each news}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.ten}}</td>
      <td class="description">{{this.noidung}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a href="/khoa/{{ this._id }}/edit" class="btn btn-info">Sửa</a>
        <a href="" class="btn btn-danger" data-bs-toggle="modal" data-id="{{ this._id }}" data-bs-target="#delete-khoa-modal">Xóa</a>
      </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="5" class="text-center">
        Bạn chưa đăng khoa nào.
        <a href="/news/create">Đăng khoa</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
